build/
.idea/
.gradle/
.classpath
.project
.settings/
.java-version
build-eclipse/
/tags
bin/
out/
logs/
server/docker/main/

.DS_store
*.iml
*.ipr
*.iws
*.swp
*.log
*.patch
*.gfs
*.diff
*.dat
*.rej
*.orig

.envrc
